.message-bubble {
  font-size: 16px;
  color: @theme_fg_color;
  border-radius: 15px;
  padding: 9px;
  background-color: mix(@theme_bg_color, @theme_fg_color, .05);
}
.message-list row {
  padding:0;
}
.message-item {
  margin: 5px 0 ;
}

.message-item.from-self .message-bubble {
  background-color: alpha(@accent_bg_color, 0.3);
  color: @card_fg_color;
}

.message-item:not(.has-header) > .avatar-other{
  opacity: 0;
}

.reaction {
  background-color: mix(@theme_bg_color, @theme_fg_color, .05);
  border: 1px solid @accent_bg_color;
  border-radius: 15px;
  padding: 6px 9px;
  margin-top: 5px;
  font-size: 16px;
}

.quote {
  font-size: 16px;
  background-color: mix(@theme_bg_color, @accent_bg_color, .1);
  border-left:4px solid;
  border-left-color:  @accent_bg_color;
  border-radius: 8px;
  color: @theme_fg_color;
  padding: 9px;
  margin-top: 3px;
}

.message-item.from-self .quote {
  border-left-color: @accent_fg_color;
}

.timestamp {
  font-size: 12px;
  padding-left: 6px;
}

.emoji .message-bubble, .emoji.from-self .message-bubble{
  font-size: 48px;
}

.emoji:not(.has-quote) .message-bubble, .emoji.from-self:not(.has-quote) .message-bubble{
  background: transparent;
}
